{% extends 'html/main.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static '/css/aboutus.css' %}">
<style>
  body{
    background: linear-gradient(to right, #000000, #001733);
    margin-top: 100px;
  }
</style>

    <div class="odd">
      <div class="informations">
        <p class="name">Abdujalilov Asror</p>
        <p>Back-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
      <div class="middle"></div>
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Asror.JPG' %}" alt="Abdujalilov Asror">
      </div>
    </div>

    <div class="even">
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Nodirbek.JPG' %}" alt="Xakimov Nodirbek">
      </div>
      <div class="middle"></div>
      <div class="informations">
        <p class="name">Xakimov Nodirbek</p>
        <p>Back-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
    </div>

    <!-- Repeat the structure for each individual -->
    <div class="odd">
      <div class="informations">
        <p class="name">Usmonov Risqiboy</p>
        <p>Back-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
      <div class="middle"></div>
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Risqiboy.JPG' %}" alt="Usmonov Risqiboy">
      </div>
    </div>

    <div class="even">
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Muhammadaziz.JPG' %}" alt="Tugalov Muhammadaziz">
      </div>
      <div class="middle"></div>
      <div class="informations">
        <p class="name">Tugalov Muhammadaziz</p>
        <p>Front-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
    </div>

    <div class="odd">
      <div class="informations">
        <p class="name">Sobirjonov Xusniddin</p>
        <p>Front-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
      <div class="middle"></div>
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Xusniddin.jpg' %}" alt="Sobirjonov Xusniddin">
      </div>
    </div>

    <div class="even">
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Isomiddin.JPG' %}" alt="Isomiddin Ismoilov">
      </div>
      <div class="middle"></div>
      <div class="informations">
        <p class="name">Isomiddin Ismoilov</p>
        <p>Front-end developer</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
    </div>

    <div class="odd">
      <div class="informations">
        <p class="name">Ernazarov Erkinjon</p>
        <p>Database controller</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
      <div class="middle"></div>
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Erkin.JPG' %}" alt="Ernazarov Erkinjon">
      </div>
    </div>

    <div class="even">
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Komil.JPG' %}" alt="Xolmurodov Komiljon">
      </div>
      <div class="middle"></div>
      <div class="informations">
        <p class="name">Xolmurodov Komiljon</p>
        <p>Templates for presentations maker</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
    </div>

    <div class="odd">
      <div class="informations">
        <p class="name">Boyxo'rozov Azizbek</p>
        <p>Templates for presentations maker</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
      <div class="middle"></div>
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Aziz.JPG' %}" alt="Boyxo'rozov Azizbek">
      </div>
    </div>

    <div class="even">
      <div class="photo">
        <img class="man-photo" src="{% static '/images/Abror.JPG' %}" alt="G'aybullayev Abror">
      </div>
      <div class="middle"></div>
      <div class="informations">
        <p class="name">G'aybullayev Abror</p>
        <p>Templates for presentations maker</p>
        <p>Student of Presidential School in Gulistan</p>
      </div>
    </div>


{% endblock %}
