<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/formstylee.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
</head>
<body>
    <canvas id="particle-canvas" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>

    <div class="center">
        <p class="small-text">🎉 Your password has been successfully changed!</p>
        
        <div class="small-text">
            <img src="{% static 'images/images.png' %}" class="imageoftemp" alt="Success Image">
        </div>

        <a href="{% url 'Login' %}">Go to Login</a>
    </div>
</body>
<script src="{% static 'js/particle.js' %}"></script>
</html>
