<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/formstylee.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
</head>
<body>
  <canvas id="particle-canvas" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>
  <div class="center">
    <form class="form" method="POST" class="center">
      {% csrf_token %}
      <h1>Set New Password</h1>
      <input class="placeholder" type="password" name="new_password1" placeholder="New password" required>
      <input class="placeholder" type="password" name="new_password2" placeholder="Confirm password" required>
      <button class="send-button" type="submit">Submit</button>
    </form>
  </div>
</body>
<script src="{% static 'js/particle.js' %}"></script>
</html>
