<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/formstylee.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  </style>
</head>
<body>
  <canvas id="particle-canvas" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>
  <div class="center">
    <h1>Message Sent</h1>
    <p class="small-text">
      We’ve sent a password to your email. Please check and enter it.
      if you have not received a password, please check your spam folder or try again.
    </p>
  </div>
</body>
<script src="{% static 'js/particle.js' %}"></script>
</html>
